.root {
	-fx-vgap: 10px;
	-fx-hgap: 10px;
	-fx-padding: 30px;
	-fx-alignment: center;
	-fx-background-color:coral 
}

.label {
	-fx-font-family: "Arial";
	-fx-font-size: 20px;
	-fx-text-fill:rgb(15,2,128)		
}
.text-field {
	-fx-font-family: "Arial";
	-fx-font-size: 10px;	
}